<style>
#disaggregated_cohort {
  width: 99%;
  border-collapse: collapse;
}

th, td {
  border-style: solid;
  border-width: 1px;
  text-align: left;
  padding-left: 10px;
}

.table-container {
  overflow: auto;
  height: 85%;
}

.data td {
  text-align: right;
  padding-right: 10px;
}

.data-header {
  text-align: right;
  padding-right: 10px;
}

</style>



<div class="table-container">

<table id="disaggregated_cohort" cellspacing='0'>
 
  <thead>
 
  <tr>
    <th colspan="2">Clinic name:</th>
    <th>&nbsp;</th>
    <td colspan="4"><%= Location.current_health_center.name %></td>
  </tr>

  <tr>
    <th colspan="2">Year</th>
    <th>&nbsp;</th>
    <td><%=@quarter.split(' ')[1]%></td>
    <th>&nbsp;</th>
    <th>Quarter</th>
    <td><%=@quarter.split(' ')[0]%></td>
  </tr>

  <tr>
    <th>Indicator</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th style="text-align: center;">A</th>
    <th style="text-align: center;">B</th>
    <th style="text-align: center;">C</th>
    <th style="text-align: center;">D</th>
  </tr>

  <tr>
    <th>Sub Group</th>
    <th>Age</th>
    <th>Sex</th>
    <th class="data-header">Started on ART</th>
    <th class="data-header">Alive on ART</th>
    <th class="data-header">Started on IPT</th>
    <th class="data-header">Screened for TB</th>
  </tr>

  </thead>

  <tbody>

  <%@disaggregated_age_groups.sort_by{|x, y | x }.each do |counter, genders|
    genders.each do |gender, age_groups|
    age_groups.each do |age_group, num|%>
      <tr class="data">
        <th><%=counter%></th>
        <th><%=age_group%></th>
        <th><%=gender%></th>
        <td><%=num[0]%></td>
        <td><%=num[1]%></td>
        <td><%=num[2]%></td>
        <td><%=num[3]%></td>
      </tr>
    <%end
    end
  end%>

  <!--tr class="data">
    <th>25</th>
    <th>All</th>
    <th>M</th>
    <td><%=%></td>
    <td><%=%></td>
    <td><%=%></td>
    <td><%=%></td>
  </tr>

  <tr>
    <th>26</th>
    <th>All</th>
    <th>FNP</th>
    <td><%=%></td>
    <td><%=%></td>
    <td><%=%></td>
    <td><%=%></td>
  </tr>

  <tr>
    <th>27</th>
    <th>All</th>
    <th>FP</th>
    <td><%=%></td>
    <td><%=%></td>
    <td><%=%></td>
    <td><%=%></td>
  </tr>

  <tr>
    <th>28</th>
    <th>All</th>
    <th>FBf</th>
    <td><%=%></td>
    <td><%=%></td>
    <td><%=%></td>
    <td><%=%></td>
  </tr-->

  </tbody>

</table>

</div>

<script>


</script>
