<script language="javascript" type="text/javascript" src="/javascripts/jquery-1.3.2.min.js"></script>


<style type="text/css" xmlns="http://www.w3.org/1999/html">
    td {
        padding: 12px;
    }
    .table-main {
        width: 99%;
        height: auto;
        border: 0;
        border-spacing: 0;
        font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
        font-size: large;
        overflow: auto;
        text-overflow: ellipsis;
        margin: auto;
        page-break-inside: auto;
        padding-top: 20px;
        padding-bottom: 70px;
    }
    .table-inner {
        width: 99%;
    }
    .border-null {
        border: none;
    }
    .text-bold {
        font-weight: bold;
    }
    .text-center {
        text-align: center;
    }
    .text-italic {
        font-style: italic;
    }
    .text-smaller {
        font-size: smaller;
    }
    .text-left {
        text-align: left;
    }
    .index {
        border: none;
        width: 2%;
    }
    .border-null-right {
        border-right: none;
    }
    .border-null-left {
        border-left: none;
    }
    .border-null-top {
        border-top: none;
    }
    .border-null-bottom {
        border-bottom: none;
    }
    .border-left-dotted {
        border-left-style: dotted;
    }
    .border-right-dotted {
        border-right-style: dotted;
    }
    .border-bottom-dotted {
        border-bottom-style: dotted;
    }
    .border-top-dotted {
        border-top-style: dotted;
    }
    .buttons {
        top: 0px;
    }
    .button {
        font-size: 28px;
        text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        cursor: pointer;
        margin: 5px 0px 0px;
        color: #ffffff;
        padding: 10px;
        display: inline-block;
        text-decoration: none;
        width: 120px;
        min-height: 55px;
        margin: 3px;
        border-radius: 3px !important;
    }
    .button-print:hover {
        border: #5ca6c4;
        background-color: #2F30EE;
    }
    .button-print {
        border: #7eb9d0;
        background-color: #5ca6c4;
        float: left;
    }
    .button-finish:hover {
        border: #224b09;
        background-color: #224b09;
    }
    .button-finish {
        border: #4ba614;
        background-color: #4ba614;
        float: right;
    }
    .row-button-print {
        position: fixed;
        left: 0px;
        bottom: 0px;
        height: 80px;
        overflow: hidden;
        padding-right: 20px;
        width: 100%;
        background-color: rgb(51,51,51);
    }
    .column-break {
        width: 1%;
        border: none;
    }
    .bolder {
        border: black;
        border-style: solid;
        border-width: 2px;
    }
    .bolder-left {
        border-left: black;
        border-left-style: solid;
        border-left-width: 2px;
    }
    .bolder-right {
        border-right: black;
        border-right-style: solid;
        border-right-width: 2px;
    }
    .bolder-bottom {
        border-bottom: black;
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
    .bolder-top {
        border-top: black;
        border-top-style: solid;
        border-top-width: 2px;
    }
    .number {
        text-align: right;
    }
    .number-center {
        text-align: center;
    }
    .table-inner-td {
        width: 10% !important;
    }
    .table-inner-data {
        width: 10% !important;
    }
        .text-header {
            font-size: large;
        }
        .table-main-data {
            width: 10% !important;
        }
</style>

<table class="table-main" border="2px;">
    <tr>
        <th colspan="10" class="text-left border-null text-header">
            <%= Location.current_health_center.name %>  General Cohort Survival Analysis 
        </th>
    </tr>
    <tr>
        <td class="border-null-right">
            Reg. cohort
        </td>
        <td class="border-null-left border-null-right">
            Interval months
        </td>
        <td class="border-null-left border-null-right">
            Sub group
        </td>
        <td class="border-null-left border-null-right">
            Total reg. (database)
        </td>
        <td class="border-null-left">
            Total reg. (confirmed)
        </td>
        <td colspan="5">
            <table class="table-inner">
                <tr>
                    <td colspan="5" class="text-center">
                        Outcomes as of end of quarter evaluated
                    </td>
                </tr>
                <tr>
                    <td class="table-inner-td text-center">
                        Alive
                    </td>
                    <td class="table-inner-td text-center">
                        Died
                    </td>
                    <td class="table-inner-td text-center">
                        Defaulted
                    </td>
                    <td class="table-inner-td text-center">
                        Stopped
                    </td>
                    <td class="table-inner-td text-center">
                        Transfer out
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <% @name_of_quarter = @quarter.split.first %>
    <%
     cohort = @cohort.general_survival_analysis.sort_by{|range, data| range}.reverse!
     %>
    <%  (cohort || []).each do |range, data| %>
        <% if data['number_alive_and_on_arvs'] %>

    <tr>
        <td class="text-bold border-null-right table-main-data">
            <%= "#{@name_of_quarter} " + data['Quarter'] %>
        </td>
        <td class="number-center border-null-left border-null-right table-main-data">
            <%= range %>
        </td>
        <td class="border-null-left table-main-data">
            all ages
        </td>
        <td class="number table-main-data">
            <a href="javascript:drillDown('number_of_new_patients_registered',<%= range %>)">
                <%= data['number_of_new_patients_registered'].count %>
            </a>
        </td>
        <td class="number table-main-data">

        </td>
        <td class="number table-inner-data">
            <a href="javascript:drillDown('number_alive_and_on_arvs',<%= range %>)">
                <%= data['number_alive_and_on_arvs'].count %>
            </a>
        </td>
        <td class="number table-inner-data">
            <a href="javascript:drillDown('number_dead',<%= range %>)">
                <%= data['number_dead'].count %>
            </a>
        </td>
        <td class="number table-inner-data">
            <a href="javascript:drillDown('number_defaulted',<%= range %>)">
                <%= data['number_defaulted'].count %>
            </a>
        </td>
        <td class="number table-inner-data">
            <a href="javascript:drillDown('number_stopped_treatment',<%= range %>)">
                <%= data['number_stopped_treatment'].count %>
            </a>
        </td>
        <td class="number table-inner-data">
            <a href="javascript:drillDown('number_transferred_out',<%= range %>)">
                <%= data['number_transferred_out'].count %>
            </a>
        </td>
        <% end %>
    <% end %>
    </tr>
</table>

<!-- Controls -->
<div class="row-button-print">
    <div class="buttons">
            <%= button_to 'Finish', {
                    :action => 'finish'
            }, {
                    :class => 'button button-finish'
            } %>

            <%= button_to 'Print', {
                    :action => 'download_pdf',
                    :quarter => params[:quarter],
                    :file_directory => '/cohort_tool/' ,
                    :file_name => 'revised_cohort_survival_analysis_to_print'
            }, {
                    :class => 'button button-print'
            } %>
    </div>
</div>
<!- ###   ### -->

<form id="patients" method="post" action="/cohort_tool/list_more_details">
    <input id='patient_ids' type='hidden' name = 'patient_ids' />
    <input id='indicator' type='hidden' name = 'indicator' />
</form>

<script>
    function drillDown(indicator, ref_range) {
        var range;
        var patient_ids = [];

        switch(indicator) {
            case "number_of_new_patients_registered":
            <%  (@cohort.general_survival_analysis.sort || []).each do |range, data| %>
                range = <%= range %>;
            <% if data['number_of_new_patients_registered'].count.to_i > 1 %>
                if( range == ref_range) {
                    <% (data['number_of_new_patients_registered'] || []).each do |patient_id| %>
                    patient_ids.push(<%= patient_id %>);
                    <% end %>
                }
            <% end %>
            <% end %>
                break;
            case "number_alive_and_on_arvs":
            <%  (@cohort.general_survival_analysis.sort || []).each do |range, data| %>
                range = <%= range %>;
            <% if data['number_of_new_patients_registered'].count.to_i > 1 %>
                if( range == ref_range) {
                    <% (data['number_alive_and_on_arvs'] || []).each do |patient| %>
                    patient_ids.push(<%= patient['patient_id'] %>);
                    <% end %>
                }
            <% end %>
            <% end %>
                break;
            case "number_dead":
            <%  (@cohort.general_survival_analysis.sort || []).each do |range, data| %>
                range = <%= range %>;
            <% if data['number_of_new_patients_registered'].count.to_i > 1 %>
                if( range == ref_range) {
                    <% (data['number_dead'] || []).each do |patient| %>
                    patient_ids.push(<%= patient['patient_id'] %>);
                    <% end %>
                }
            <% end %>
            <% end %>
                break;
            case "number_defaulted":
            <%  (@cohort.general_survival_analysis.sort || []).each do |range, data| %>
                range = <%= range %>;
            <% if data['number_of_new_patients_registered'].count.to_i > 1 %>
                if( range == ref_range) {
                    <% (data['number_defaulted'] || []).each do |patient| %>
                    patient_ids.push(<%= patient['patient_id'] %>);
                    <% end %>
                }
            <% end %>
            <% end %>
                break;
            case "number_stopped_treatment":
            <%  (@cohort.general_survival_analysis.sort || []).each do |range, data| %>
                range = <%= range %>;
            <% if data['number_of_new_patients_registered'].count.to_i > 1 %>
                if( range == ref_range) {
                    <% (data['number_stopped_treatment'] || []).each do |patient| %>
                    patient_ids.push(<%= patient['patient_id'] %>);
                    <% end %>
                }
            <% end %>
            <% end %>
                break;
            case "number_transferred_out":
            <%  (@cohort.general_survival_analysis.sort || []).each do |range, data| %>
                range = <%= range %>;
            <% if data['number_of_new_patients_registered'].count.to_i > 1 %>
                if( range == ref_range) {
                    <% (data['number_transferred_out'] || []).each do |patient| %>
                    patient_ids.push(<%= patient['patient_id'] %>);
                    <% end %>
                }
            <% end %>
            <% end %>
                break;
            default:
                break;
        }

        document.getElementById('patient_ids').value = patient_ids.join(',');
        document.getElementById('indicator').value = indicator;
        document.getElementById('patients').submit();
    }
</script>
