<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= @title = "#{controller.controller_name.humanize} #{controller.action_name.humanize}" rescue ""  %></title>

    <script language="javascript">
        tstUsername = "<%= current_user.username unless current_user.nil? %>";
        tstCurrentDate = "<%= Time.now.strftime("%Y-%m-%d") %>";
        var tt_cancel_destination = null;
    </script>
    <%= stylesheet_link_tag fancy_or_high_contrast_touch %>
    <%= stylesheet_link_tag "dashboard" %>
    <%= javascript_include_tag "barcode" %>
    <%= javascript_include_tag "prototype" %>
    <%= javascript_include_tag 'jquery' %>
    <%= stylesheet_link_tag 'extra_buttons' %>
    <%= javascript_include_tag 'jquery_data_table.js' %>
    <%= stylesheet_link_tag 'jquery.dataTables' %>
    <%=javascript_include_tag "jquery.table2CSV.min" %>
    <script type="text/javascript" charset="utf8" src="/javascripts/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('#logout').click(function() {
                window.location = '/clinic';
            })
            $('#find').click(function() {
                history.go(-1);// /report/data_cleaning';

            })
        })

        jQuery(document).ready(function($) {
            $('#table_id').dataTable({
                "bAutoWidth": true,
                "bProcessing": true,
                "sScrollY": "441px",
                "bInfo": true,
                "bPaginate": false
            });
            search_box = $('#table_id').dataTable()
            search = document.getElementsByTagName("input")[0];
            search.setAttribute("id","search");
            document.getElementById('search').setAttribute("onclick","showKeyboard();");
            document.getElementById("find").innerHTML = "<span>Back</span>";
            document.getElementById("find").style.cssFloat = "left";
            //xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            keyboard = document.getElementsByClassName("keypad")[0]
            function getCharButtonSetID(character,id){
                return '<button onMouseDown="press(\''+character+'\');" class="keyboardButton" id="'+id+'">' +"<span style='width:32px'>"+character+"</span>"+ "</button>";
            }
            function getButtonString(id,string){
                return "<button \
                            onMouseDown='press(this.id);' \
                            class='keyboardButton' \
                            id='"+id+"'>"+
                        string +
                        "</button>";
            }

            function getButtons(chars){
                var buttonLine = "";
                for(var i=0; i<chars.length; i++){
                    character = chars.substring(i,i+1)
                    buttonLine += getCharButtonSetID(character,character)
                }
                return buttonLine;
            }

            showAlphaKeypad();

            function showAlphaKeypad(){
                document.getElementById("keypad").style.height = "280";
                keyboard.innerHTML= getButtons("0123456789") + "</br>"
                keyboard.innerHTML+= getButtons("QWERTYUIOP") + "</br>"
                keyboard.innerHTML+= getButtons("ASDFGHJKL:") + "</br>"
                keyboard.innerHTML+= getButtons("ZXCVBNM,.?")
                keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>')
                keyboard.innerHTML+= getButtonString('Space','<span>Space</span>')
                keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>')
            }

            function showNumericKeypad(){
                document.getElementById("keypad").style.height = "145";
                keyboard.innerHTML = getButtons("123")
                keyboard.innerHTML+= getButtons("456")
                keyboard.innerHTML+= getButtons("7890")
                keyboard.innerHTML+= getButtonString('space','<span>Space</span>')
                keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>')
                keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>')
                keyboard.innerHTML+= getButtonString('abc','<span>abc</span>')
                keyboard.innerHTML+= getButtonString('dash','<span>-</span>')
                keyboard.innerHTML+= getButtonString('slash','<span>/</span>')
            }

            //data_table_length =document.getElementsByName('table_id_length')[0];
            //data_table_length.setAttribute("style","font-size:20px;");

            //table_length = document.getElementById("table_id_length");
            //table_length.setAttribute("style","width:100px;");

        })
    </script>

    <script>

        function showKeyboard(){
            key = document.getElementById("keypad")
            if(key.style.display == 'none' || key.style.display == ""){
                key.style.display = "inline";
                return
            }

            key.style.display = "none";
        }

        function press(pressedChar){
            switch (pressedChar) {
                case 'backspace':
                    search.value = search.value.substring(0,search.value.length-1);
                    search_box.fnFilter(search.value)
                    return;
                case 'Space':
                    search.value+= " "
                    search_box.fnFilter(search.value)
                    return
                case 'clear':
                    search.value = ""
                    search_box.fnFilter(search.value)
                    return
                case 'num':
                    showNumericKeypad();
                    return
                case 'slash':
                    search.value+= "/"
                    search_box.fnFilter(search.value)
                    return
                case 'dash':
                    search.value+= "-"
                    search_box.fnFilter(search.value)
                    return
                case 'abc':
                    showAlphaKeypad();
                    return
            }
            search.value+= pressedChar
            search_box.fnFilter(search.value)
        }
        //xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </script>

    <style>
        #backspace{
            position:absolute;
            left:100px;
            bottom:2px;
        }

        #Space{
            position:absolute;
            left:220px;
            bottom:2px;
            width:200px;
        }

        #clear{
            position:absolute;
            left:470px;
            bottom:2px;
        }
        #num{
            position:absolute;
            left:470px;
            bottom:2px;
            width:200px;
        }
        .create_button a{
            background-color: #7784AE;
            border-bottom: 1px outset black;
            border-radius: 7px 7px 7px 7px;
            border-style: outset;
            border-top: 1px outset black;
            color: #E8EAF1;
            display: block;
            padding: 10px 16px 10px 10px;
            text-align: center;
            text-decoration: none !important;
        }
        #keypad{
            background-color: #FFFFFF;
            border: 2px solid #9999FF;
            border-radius: 15px 15px 15px 15px;
            display: none;
            height: 304px;
            padding: 5px;
            position: absolute;
            right: 13px;
            top: 194px;
            width: 672px;
        }
    </style>
    <style>
        div {
            -moz-user-select: none;
        }
        .basic_span {
            position:relative;
            width:50%;
            display:block;
            float:left;
        }

        .logo {
            float:left
        }

        #table_id {
            width: 100%;
        }

        #table_id_filter{
            position:absolute;
            top:0px;
            right:1%;
            margin-top:-40px;
        }

        #table_id_filter input{
            padding:0.5em;
        }


        .dataTables_length select {
            font-size: 25px;
        }
        .horizontal_line hr{
            position:absolute;
            bottom:104px;
        }
        #table_id_info{
            left: 10px;
            position: absolute;
            top: 491px;
            font-weight:bold;
        }
        #table_id_length{
            display:none;
        }
        #table_id_paginate{
            display:none;
        }
        #num{ display:none; }
        #char{ display:none; }

    </style>









    <style>
        div {
            -moz-user-select: none;
        }
        .basic_span {
            position:relative;
            width:50%;
            display:block;
            float:left;
        }

        .logo {
            float:left
        }


        .horizontal_line hr{
            position:absolute;
            bottom:104px;
        }
        #number{
            background-color: #4A708B;
            border-bottom: 1px outset black;
            text-decoration: none;
            color: white;
            padding: 10px 16px 10px 10px;
            text-align: center;
            text-decoration: none;
        }
    </style>

    <style type="text/css">
        #tab {
            height:312px;
        }
        #barcode {
            background:transparent none repeat scroll 0 0;
            border-color:-moz-use-text-color -moz-use-text-color silver;
            border-style:none none solid;
            border-width:medium medium 1px;
            font-family:"Nimbus Sans L","Arial Narrow",sans-serif;
            font-size:2.2em;
            padding-left:5px;
            width:400px;
        }
        #header div {
            font-weight:normal;
            float:none;
            clear:both;
        }

        .summary{
            position:relative;
            float:center;
            width:100%;
            padding-left:10px;
            padding-right:10px;
        }

        .summary td , th{
            border-style:solid;
            border-width:thin;
            padding:5px;
        }

        .summary tbody{
            position:relative;
            height:500px;
            overflow:auto;
            overflow-x: hidden;
        }

        .summary>tbody tr {
            position:relative;
            height:12px;
        }
        .summary>thead tr {
            position:relative;
            height:12px;
        }

    </style>

</head>
<body id="mateme">
<div id="container">
    <div id="content" style = "position : relative; width : 96%; margin-left : -48%">
        <%= image_tag(@logo, :class => "logo")%>
        <br /><b style="margin-left:175px; margin-top: 0px"><%= @current_location_name %></b><br />
        <b style="position:relative; top:0px; margin-left:175px">
            Total patients
            <%= @report_name.gsub(/cum/i, '').humanize.split.map{|w| w.capitalize}.join(' ') %>
        </b>
        <br />
        <br /><br />

        <table id="table_id" width="99%">
            <thead>
            <tr>
                <th style="padding-left: 10px; text-align: left;">Name</th>
                <th>Q1</th>
                <th>Q2</th>
                <th style="padding-left: 10px; text-align: left;">Name</th>
                <th>Q3</th>
                <th>Q4</th>
                <th style="padding-left: 10px; text-align: left;">Reason for starting</th>
                <th style="padding-left: 10px; text-align: left;">Outcome</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            <% (  @sorted_list || []).each do |patient_id, data| %>
                <tr>
                    <td style="padding-left: 10px;"><%= data[:arv_number] %></td>
                    <td style="text-align: center;"><%= data[:earliest_start_date] %></td>
                    <td style="text-align: center;"><%= data[:date_enrolled] %></td>
                    <td style="padding-left: 10px;"><%= data[:name].capitalize %></td>
                    <td style="text-align: center;"><%= data[:gender] %></td>
                    <td style="text-align: center;"><%= data[:birthdate] %></td>
                    <td style="padding-left: 10px;"><%= (data[:reason_for_starting].capitalize rescue nil) %></td>
                    <td style="padding-left: 10px;"><%= (data[:outcome].capitalize rescue nil) %></td>
                    <td align='center' class="create_button">
                        <%= link_to_onmousedown "View",{
                                :controller =>"patients",
                                :action => 'mastercard',
                                :patient_id => patient_id ,
                                :source =>"out_of_range_arv_number",
                                :quarter => "#{@report_quarter}",
                                :arv_start_number => "#{params[:arv_start_number]}",
                                :arv_end_number => "#{params[:arv_end_number]}"
                        }%>
                    </td>
                </tr>
            <% end %>
            </tbody>
            <tfoot>

            </tfoot>

        </table>
        <div class="horizontal_line">
            <hr width="100%" color="gray"/>
        </div>
        <div id="keypad">
          <span class="keypad">
          </span>

        </div>
        <div id="footer" class="dark">
            <div id="buttons" class="buttons" style="top:0px">
                <button id="logout" class="green left" style="position :relative; float:right;"><span>Finish</span></button>
                <button id="find" class="blue" style="width:200px;" style="right:-0px; float:right;"><span>Back</span></button>
            </div>
        </div>
    </div>
</div>
</body>

</html>
