<style>
#main-container  {
  display: table;
  width: 100%;
  padding: 0px 1px 0px 1px;
}

.row  {
  display: table-row;
}

.cell {
  display: table-cell;
}

.inputFrameClass {
  width: 95%;
}

#clearButton {
  display: none;
}

</style>


<script>

function changeFinishBtn() {
  var btn = document.getElementById('nextButton');
  btn.innerHTML = "<span>Void inconsistent numbers</span>";
}

function loadDuplicates() {
  var mainDiv = document.getElementById('main-container');
  var filing_numbers = document.getElementById('filing_numbers');
  
<%(@active || []).each do |active|%>
    var row = document.createElement('div');
    row.setAttribute('class','row');
    var rowCell = document.createElement('div');
    rowCell.setAttribute('class','cell');
    rowCell.innerHTML = 'Active number:'
    row.appendChild(rowCell);

    rowCell = document.createElement('div');
    rowCell.setAttribute('class','cell');
    rowCell.innerHTML = "<%=active%>";
    row.appendChild(rowCell);

    mainDiv.appendChild(row);
    if(filing_numbers.value.length > 1){
      filing_numbers.value += ",<%=active%>"
    }else{
      filing_numbers.value = "<%=active%>"
    } 
  <%end
  (@dormant || []).each do |dormant|%>
    var row = document.createElement('div');
    row.setAttribute('class','row');
    var rowCell = document.createElement('div');
    rowCell.setAttribute('class','cell');
    rowCell.innerHTML = 'Dormant number:'
    row.appendChild(rowCell);

    rowCell = document.createElement('div');
    rowCell.setAttribute('class','cell');
    rowCell.innerHTML = "<%=dormant%>";
    row.appendChild(rowCell);


    mainDiv.appendChild(row);
    if(filing_numbers.value.length > 1){
      filing_numbers.value += ",<%=dormant%>"
    }else{
      filing_numbers.value = "<%=dormant%>"
    } 
  <%end%>

  var inputFrame = document.getElementById('inputFrame' + tstCurrentPage);
  inputFrame.appendChild(mainDiv);
}

</script>


<div id="main-container"></div>

<form id='appointment' action="/people/void_filing_numbers" method='post'>
    <%= text_field_tag :summary, nil, { 
      :tt_onLoad => "changeFinishBtn();loadDuplicates();__$('keyboard').style.display = 'none';", 
      :helpText => "Inconsistent filing numbers",
      :optional => true,
      :tt_pageStyleClass => "NoControls" } 
    %>

    <input type="hidden" id="filing_numbers" name="filing_numbers" />
    <input type="hidden" value="<%=params[:patient_id]%>" name="patient_id" />
   
</form>

