
<script type="text/javascript" language="javascript">
  
  tt_cancel_show = "/drug/new_drug_sets/<%= params[:user_id] %>";
  tt_cancel_destination = "/drug/new_drug_sets/<%= params[:user_id] %>";
</script>

<style>
  .helper {
    display: block;
    float:right;
    background-color: #DEDEDE;
  }

</style>

<%  form_tag :controller => "drug", :action => "create_new_drug_set" do |f| %>

  <%= hidden_field_tag "set_id", params[:set_id] %>
  <%= hidden_field_tag "user_id", params[:user_id] %>

  <%if params[:set_id].blank? %>


    <%= text_field_tag "name", nil,
      {
      :id => "name",
      :helpText => "Choose set name <span class='helper'>Task: Add Drug Set</span>"
    } %>

    <%= text_field_tag "description", nil,
      {
      :id => "desc",
      :helpText => "Set description <span class='helper'>Task: Add Drug Set</span>"
    } %>

  <%end%>

  <%= select_tag "drug", options_for_select(@drugs),
    {
    :id => "drug",
    :helpText => "Select drug to add to set <span class='helper'>Task: Add Drug Set</span>"
  } %>

  <%= select_tag "frequency", options_for_select(@frequencies),
    {
    :id => "frequency",
    :helpText => "Select drug set frequency <span class='helper'>Task: Add Drug Set</span>"
  } %>

  <%= text_field_tag "duration", nil,
    {:id => "duration",
    :field_type => "number",
    :helptext => "Duration (days) <span class='helper'>Task: Add Drug Set</span>",
    :tt_pageStyleClass => "NumbersOnly",
    :min => 1,
    :max => 200,
    :absoluteMin => 1,
    :absoluteMax => 1000
  } %>

  <%= submit_tag 'Finish' %>

<% end %>
